server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedHeaders: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
      routes:
        - id: servicio-catalogos
          uri: ${SERVICIO_CATALOGOS_URL:http://127.0.0.1:8081}
          predicates:
            - Path=/catalogos/**
          filters:
            - StripPrefix=1
        - id: servicio-gestion
          uri: ${SERVICIO_GESTION_URL:http://127.0.0.1:8082}
          predicates:
            - Path=/gestion/**
          filters:
            - StripPrefix=1
        - id: servicio-documentos
          uri: ${SERVICIO_DOCUMENTOS_URL:http://127.0.0.1:8083}
          predicates:
            - Path=/documentos/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

security:
  jwt:
    secret: ${JWT_SECRET:cambia-esta-clave-super-segura-de-32+caracteres-2025}
    issuer: modulo-evaluaciones-psicologicas
    audience: frontend-clients
    authorities-claim: roles
